<div class="main">
  <div class="middle-part">
      <div class="topics">
        <div class="first">
          <ul>
            <li><h2>Sections</h2></li>
            <li>SEO</li>
            <li>Paid Media</li>
            <li>Content</li>
            <li>Social Media</li>
            <li>Career</li>
            <li>News</li>
            <li>WordPress</li>
          </ul>
        </div>
        <div class="second">
          <ul>
            <li><h2>Topics</h2></li>
            <li>Link Building</li>
            <li>Local Search</li>
            <li>Mobile Search</li>
            <li>International Search</li>
            <li>Enterprise SEO</li>
            <li>PPC</li>
            <li>Analytics Data</li>
          </ul>
        </div>
        <div class="third">
          <ul>
            <li><h2>Resources</h2></li>
            <li>E-Books</li>
            <li>Google Algorithm Updates</li>
            <li>SEJ Show</li>
            <li>Webinars</li>
            <li>Advertising on SEJ</li>
            <li>Shop SEJ</li>
            <li>Post A Job</li>
          </ul>
        </div>
        <div class="fourth">
          <ul>
            <li><h2>Company</h2></li>
            <li>Subscribe</li>
            <li>Myself</li>
            <li>Contact</li>
            <li>Careers</li>
            <li>Privacy Policy</li>
            <li>News</li>
            <li>Personal Info</li>
          </ul>
        </div>
      </div>
  </div>
</div>
